{% load thumbnail %}
{% load hitcount_tags %}
<div class="row">
    {% if posts %}
    {% for post in posts %}
    <div class="col-lg-4">
        <div class="card rounded-3 p-2">
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
                {% get_hit_count for post %}</span>
                <span class="visually-hidden">views</span>
            <!-- <div class="row"> -->
            <!-- <div class="col-lg-4 col-md-12 mb-4"> -->
            <!-- <div class="card"> -->
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img class="img-fluid " src="{% thumbnail post.post_thumbnail 640x380 crop='-10,4' %}" alt="" />
                
                <a href={{post.get_absolute_url}}>
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.394);"></div>
                </a>
            </div>  
            <div class="card-body mt-0">
                <ul class=" mb-0 p-0">
                    <li class="list-inline-item">
                        {% for c in post.categories.all %}
                        {% if forloop.first%}
                        <a class="meta-link font-weight-bold p-0" href={{c.get_absolute_url}}>{{ c }} |
                        </a>
                        {% endif %}
                        {% endfor %}
                    </li>
                    <li class="list-inline-item">
                        <a class="text-capitalize meta-link font-weight-bold"
                            href="{% url 'user_posts' username=post.author.username %}">
                            {{post.author.first_name}} |
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <p class="text-uppercase meta-link font-weight-bold">
                             {{post.created_on|date:"M/d/ y"}} |
                            <!-- date:"F d, Y" -->
                        </p>
                    </li>
                    <!-- <li class="list-inline-item">
                        <p class="text-uppercase meta-link font-weight-bold">
                            <i class="far fa-eye"></i></i> {% get_hit_count for post %}
                        </p>
                    </li> -->
                </ul>
                <h5 class="card-title text-capitalize">
                    <!-- <h2 class="h3 mb-4"> -->
                    <a class="d-block reset-anchor" href={{post.get_absolute_url}}>
                        {{ post.title }}
                    </a>
                    <!-- </h2> -->
                </h5>
                <p class="text-small text-muted text-dark text-capitalize">{{ post.content|striptags|truncatechars:90 }}</p>
                <a class="" href={{post.get_absolute_url}}>
                    <span class="btn btn-success w-100 font-weight-bold mb-0">Read more</span>
                </a>
            </div>
        </div>
    </div>

    {% endfor %}
    {% endif %}
</div>